{% extends "mobile_web/base.html" %}
{% load static %}

{% block title %}تفاصيل الخدمة | نوافذ{% endblock %}
{% block page_id %}service-detail{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'mobile_web/css/service-detail.css' %}">
{% endblock %}

{% block content %}
  <section class="nw-svc-detail">
    <button class="nw-svc-back" onclick="history.back()">
      <span class="material-icons-round">arrow_forward</span> رجوع
    </button>
    <div id="svc-content">
      <div class="nw-svc-loading">جارٍ التحميل...</div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{% static 'mobile_web/js/service-detail.js' %}"></script>
{% endblock %}
