{% extends "mobile_web/base.html" %}
{% load static %}

{% block title %}الباقات والاشتراكات | نوافذ{% endblock %}
{% block page_id %}plans{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'mobile_web/css/plans.css' %}">
{% endblock %}

{% block content %}
  <div class="nw-container">
    <div class="nw-plans-header">
      <h1>الباقات والاشتراكات</h1>
      <p>اختر الباقة المناسبة لك ولأعمالك</p>
    </div>

    <!-- Current Plan -->
    <div class="nw-current-plan" id="current-plan" hidden>
      <span class="material-icons-round">workspace_premium</span>
      <div class="nw-current-plan-info">
        <p class="nw-current-plan-name" id="current-plan-name">-</p>
        <p class="nw-current-plan-expiry" id="current-plan-expiry">-</p>
      </div>
    </div>

    <!-- Plans -->
    <div id="plans-list" class="nw-plans-grid">
      <div class="nw-plans-loading"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'mobile_web/js/plans.js' %}"></script>
{% endblock %}
