{% extends "mobile_web/base.html" %}
{% load static %}

{% block title %}تعديل ملف المزود | نوافذ{% endblock %}
{% block page_id %}provider-profile-edit{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'mobile_web/css/provider-profile-edit.css' %}">
{% endblock %}

{% block content %}
  <section class="nw-pp-edit">
    <h1>تعديل ملف المزود</h1>

    <!-- Completion -->
    <div class="nw-pp-completion" id="pp-completion" hidden>
      <h3>اكتمال الملف</h3>
      <div class="nw-pp-completion-bar"><div class="nw-pp-completion-fill" id="pp-fill"></div></div>
      <div class="nw-pp-completion-pct" id="pp-pct"></div>
    </div>

    <!-- Tabs -->
    <div class="nw-pp-tabs" id="pp-tabs">
      <button class="nw-pp-tab is-active" data-tab="account">معلومات الحساب</button>
      <button class="nw-pp-tab" data-tab="general">معلومات عامة</button>
      <button class="nw-pp-tab" data-tab="extra">معلومات إضافية</button>
    </div>

    <!-- Tab 1: Account -->
    <div class="nw-pp-panel is-active" id="panel-account"></div>

    <!-- Tab 2: General -->
    <div class="nw-pp-panel" id="panel-general"></div>

    <!-- Tab 3: Extra -->
    <div class="nw-pp-panel" id="panel-extra"></div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{% static 'mobile_web/js/provider-profile-edit.js' %}"></script>
{% endblock %}
